<div class="container-tegnologies contents ">
    <div class="container-cards grid lg:grid-cols-3 grid-cols-2 gap-3 place-items-center">
        <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover"
                    src="assets/img/angular.png" alt="Bonnie image" />
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Angular</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">HTML - JS - TS - CSS - SCSS</span>
            </div>
        </div>

        <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover"
                    src="assets/img/djangologo.png" alt="Bonnie image" />
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Django Rest Framework</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Python</span>

            </div>
        </div>

        <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover"
                    src="assets/img/laravellogo.jpg" alt="Bonnie image" />
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Laravel</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">PHP</span>
            </div>
        </div>

        <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover"
                    src="assets/img/unitylogo.jpg" alt="Bonnie image" />
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Unity</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">C# - Modelado</span>
            </div>
        </div>

        <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover"
                    src="assets/img/phplogo.png" alt="Bonnie image" />
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">PHP</h5>
                <!-- <span class="text-sm text-gray-500 dark:text-gray-400">Visual Designer</span> -->
            </div>
        </div>

        <div
            class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover" src="assets/img/sql.png"
                    alt="Bonnie image" />
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">SQL</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Base de datos MySql - PostgreSql</span>
            </div>
        </div>

        <div
        class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg object-cover"
                src="assets/img/react.png" alt="Bonnie image" />
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">React</h5>
            <!-- <span class="text-sm text-gray-500 dark:text-gray-400">Visual Designer</span> -->
        </div>
    </div>

    </div>
</div>