<div class="bg-slate-50 w-full pb-8 pt-2">
    <div class="title text-center ">
        <h2 class="text-black p-5 font-semibold text-2xl">EXPERIENCIAS DE TRABAJO</h2>
    </div>
    <div class="description text-center m-5 text-lg">
        <div class="text text-justify">
            <p>Durante mi trayectoria y experiencia he realizado algunos proyectos, con el uso de varias tecnologías.
                Esto
                me ha ido encaminando en el mundo del desarrollo de software.</p>
            <p>Uno de los puntos y fuertes mas importantes siendo proyectos que ayuden a la accesibilidad web.</p>
        </div>
        <h3 class="font-semibold m-1">
            Aquí una muestra de mi trabajo realizado…
        </h3>
    </div>
    <div
        class="containerProjects  lg:grid-cols-2 md:grid-cols-2 gap-8  lg:grid md:flex sm:flex md:flex-wrap sm:flex-wrap lg:ml-8 lg:mr-8">

        <div *ngFor="let item of arrayExperience">
            <a href="{{item.urlDomain}}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row
    max-w-4xl
      hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <iframe class=" lg:w-[80vh] h-[25vh] rounded-t-lg   md:rounded-none md:rounded-l-lg"
                    id="inlineFrameExample" title="Inline Frame Example" [src]="sanitizerUrl(item.urlDomain)">
                </iframe>
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold text-center tracking-tight text-gray-900 dark:text-white">
                        {{item.title}}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">{{item.description}}</p>
                </div>
            </a>
        </div>
    </div>

    <div class="title text-center ">
        <h2 class="text-black p-5 font-semibold text-2xl">PROYECTOS PERSONALES </h2>
    </div>
    <div
        class="containerProjects  lg:grid-cols-2 md:grid-cols-2 gap-8  lg:grid md:flex sm:flex md:flex-wrap sm:flex-wrap lg:ml-8 lg:mr-8">
        <div *ngFor="let item of arrayProjects">
            <a href="{{item.urlDomain}}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row
    max-w-4xl
      hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <iframe class=" lg:w-[80vh] h-[25vh] rounded-t-lg   md:rounded-none md:rounded-l-lg"
                    id="inlineFrameExample" title="Inline Frame Example" [src]="sanitizerUrl(item.urlDomain)">
                </iframe>
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold text-center tracking-tight text-gray-900 dark:text-white">
                        {{item.title}}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">{{item.description}}</p>
                </div>
            </a>
        </div>


    </div>
</div>