<div class="bg-black h-[80vh] lg:grid lg:grid-cols-2 grid   ">
    <div class="col1 flex items-center content-center relative place-content-center">
        <div class="title-init">
            <h2 class="text-xl  font-extrabold text-gray-50 md:text-5xl lg:text-4xl  text-center w-full mb-2">
                <span class="text-white bg-clip-text  md:pt-10 sm:pt-10 pt-10">HOLA MI NOMBRE ES EDWIN MARQUEZ</span>
            </h2>
            <h3 class="  text-center w-full text-xl lg:text-2xl md:text-2xl text-white">
                <span class="">SOY DESARROLLADOR DE SOFTWARE</span>
            </h3>
            <div class="linea   w-full text-center " style="text-align: -webkit-center;">
                <hr class="texto h-px my-8 bg-gray-50 border-0  w-[40%]">
            </div>
            <div class="skils absolute top-[85%] lg:p-10 md:p-8 sm:p-5 w-full text-center">
                <label for="" class="text-white">Responsable</label>
                <label for="" class="text-white">-</label>
                <label for="" class="text-white">Trabajo en equipo</label>
                <label for="" class="text-white">-</label>
                <label for="" class="text-white">Uso de metogologias agiles</label>
                <label for="" class="text-white">-</label>
                <label for="" class="text-white">Solvente</label>
                <label for="" class="text-white">-</label>
                <label for="" class="text-white">Autodidacta</label>
            </div>
        </div>

    </div>
    <div class="col2 flex items-center content-center text-center w-full place-content-center ">
        <img src="https://roa.ups.edu.ec/assets/img/develop3.png" alt="Imagen Edwin Marquez"
            class="lg:w-[60%] md:w-[38%] text-center ghost border-4 border-collapse border-b-gray-50">
    </div>
</div>