<div id="containerThree" >
    <h1 id="titulo" class="italic absolute text-white top-48 font-bold text-4xl text-center w-full tracking-tight" >Empecemos...</h1>
     <div class="img-svg absolute top-[80vh] w-full" style="text-align: -webkit-center;">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hand-move" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5" />
        <path d="M11 11.5v-2a1.5 1.5 0 0 1 3 0v2.5" />
        <path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5" />
        <path d="M17 11.5a1.5 1.5 0 0 1 3 0v4.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7l-.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47" />
        <path d="M2.541 5.594a13.487 13.487 0 0 1 2.46 -1.427" />
        <path d="M14 3.458c1.32 .354 2.558 .902 3.685 1.612" />
      </svg>
     </div>
  </div>

<div class="bg-white">

    <!-- <div class="title-init w-full text-center lg:pt-14">
        <h1 class="  font-extrabold leading-none tracking-tight text-gray-900 md:text-xl lg:text-5xl dark:text-white">
            Hola <span class="text-blue-600 dark:text-blue-500">!!</span></h1>
    </div> -->
    <div class="introduction text-center lg:h-[100vh] h-[60vh] bg-white ">
        <h2 class="text-xl  font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-4xl lg:pt-20 md:pt-10 sm:pt-10 pt-10">
            <span
            class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400 md:pt-10 sm:pt-10 pt-10">Desarrollador</span>
        FrontEnd - BackEnd</h2>
        <p class=" lg:text-2xl md:text-lg sm:text-sm text-sm font-semibold  text-gray-600  lg:pt-20 ">Diseño y codifico cosas interezantes y sencillas, y me apaciona lo que hago.</p>
        <div class="content-image text-center place-content-center flex m-20">
            <div class="bg-gray-300 rounded-full absolute place-content-center fondo">
                <img src="https://roa.ups.edu.ec/assets/img/develop3.png" class="h-auto lg:w-80 md:w-40 sm:w-20 w-40 mr-3 relative left-[6px] rounded-full object-cover" alt="Flowbite Logo" />
            </div>
        </div>
    </div>
    <div class="banner self-center">
        <app-banner></app-banner>
    </div>

    <div
        class="container-informacion  place-content-center flex flex-wrap lg:flex-nowrap h-[70vh] w-[100%] items-center lg:mt-0 md:mt-5 sm:mt-5 mt-20">
        <div class="text-container bg-gray-50 lg:w-[70%] md:w-[50%] sm:w-[100%] lg:m-14 md:m-7 sm:m-0 
             p-5 rounded-lg border border-b-gray-400 shadow-lg h-auto">
            <h2 class="lg:text-3xl text-xl font-extrabold dark:text-white text-center">Soy Ingeniero en ciencias de la
                computación
            </h2>
            <div class="container-body  m-2 h-auto break-words items-center inline">
                <p class="lg:m-2 md:m-1 sm:m-0 lg:text-lg md:text-lg sm:text-sm text-xs">
                    Soy un desarrollador de software altamente motivado y comprometido con 4 años de experiencia en
                    desarrollo web
                    y 2 años de experiencia en el desarrollo de juegos con Unity. Tengo una sólida formación académica
                    en
                    Ingeniería Informática, lo que me ha permitido desarrollar habilidades técnicas y un profundo
                    conocimiento
                    en
                    desarrollo de software.
                </p>
                <p class="lg:m-2 md:m-1 sm:m-0 lg:text-lg md:text-lg sm:text-sm text-xs"> Acompañame a conocer un poco
                    mas de mis conocimientos...</p>
            </div>
        </div>
        <div class="image-container lg:m-14 md:m-7 sm:m-0 self-center lg:w-[30%] md:w-[25%] sm:w-[100%] w-[100%]">
            <img src="assets/img/marmol1.jpg" class="lg:w-72 md:w-45 sm:w-35 h-auto rounded-md"
                alt="Imagen que representa una escultura en 3D">
        </div>
    </div>
    <div class="tegnologies-plus h-[70vh]">
        <h2 class="font-bold text-3xl text-center lg:mb-5 ">Tegnologias y lenguajes de programación mas usados</h2>
        <app-tegnologies></app-tegnologies>

    </div>
    <div class="afines h-[60vh]">
        <div class="title-group m-14 shadow-lg border border-b-gray-100 ">
            <h3 class="text-3xl font-extrabold dark:text-white text-center m-2">GRUPO DE TRABAJO ASOCIADO</h3>
            <a href="https://ecuadev.com/">
                <div class="imagen-view m-5 text-center items-center" style="text-align: -webkit-center;">
                    <img src="https://ecuadev.com/wp-content/uploads/2021/09/cropped-IconoPngTransparente.png" alt=""
                        class="w-52 h-auto text-center">
                    <h4 class="font-semibold text-2xl m-2">EcuaDev</h4>
                </div>
            </a>

        </div>
    </div>
    
</div>