<app-introducction></app-introducction>

<!-- <div class="banner self-center">
    <app-banner></app-banner>
</div> -->

<app-profile-description></app-profile-description>

<div class="bg-white">

    <app-technologies-description></app-technologies-description>
    <app-work-group></app-work-group>

    <div class="experience-view m-14 flex">
        <p class="text-gray-600 m-2 text-lg">Ver experiencia laboral</p>
        <button class="rounded-full bg-blue-300 w-28 font-semibold" (click)="navigateExperience()">
            Click aqui
        </button>
    </div>
</div>