<div class="bg-slate-50 w-full pb-8 pt-2">
    <div class="title text-center ">
        <h2 class="text-black p-14 font-semibold text-2xl">CERTIFICACIONES</h2>
    </div>
    <div class="container-certificates grid lg:grid-cols-4 gap-2">
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.udemy.com/certificate/UC-0aad2eee-b8f1-4166-8dda-caf237e09d66/">
                <img class="p-8 rounded-t-lg" src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.udemy.com/certificate/UC-0aad2eee-b8f1-4166-8dda-caf237e09d66/">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Universidad JavaScript - De Cero a Experto JavaScript!</h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.udemy.com/certificate/UC-0aad2eee-b8f1-4166-8dda-caf237e09d66/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.udemy.com/certificate/UC-c0838d5a-f72c-4006-a291-2a6331e8bf72/">
                <img class="p-8 rounded-t-lg" src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.udemy.com/certificate/UC-c0838d5a-f72c-4006-a291-2a6331e8bf72/">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"> Universidad Angular - De Cero a Experto en Angular!</h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.udemy.com/certificate/UC-c0838d5a-f72c-4006-a291-2a6331e8bf72/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.udemy.com/certificate/UC-0aad2eee-b8f1-4166-8dda-caf237e09d66/">
                <img class="p-8 rounded-t-lg" src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.udemy.com/certificate/UC-0aad2eee-b8f1-4166-8dda-caf237e09d66/">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Web Scraping con Python - Extracción y Automatización Web</h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.udemy.com/certificate/UC-0aad2eee-b8f1-4166-8dda-caf237e09d66/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252Fciberseguridad-1%2ejpeg%3Falt%3Dmedia%26token%3D6427694a-5e29-4f66-abed-8a217842a379">
                <img class="p-8 rounded-t-lg" src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252Fciberseguridad-1%2ejpeg%3Falt%3Dmedia%26token%3D6427694a-5e29-4f66-abed-8a217842a379">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Hacking Ético - Paginas web y Bases de Datos </h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252Fciberseguridad-1%2ejpeg%3Falt%3Dmedia%26token%3D6427694a-5e29-4f66-abed-8a217842a379" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252Fhacking%2520redes%2ejpeg%3Falt%3Dmedia%26token%3D2730f84e-7d31-4270-8004-f8cf8e25f36c">
                <img class="p-8 rounded-t-lg" src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252Fhacking%2520redes%2ejpeg%3Falt%3Dmedia%26token%3D2730f84e-7d31-4270-8004-f8cf8e25f36c">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Hacking Ético para Redes y Comunicaciones</h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252Fhacking%2520redes%2ejpeg%3Falt%3Dmedia%26token%3D2730f84e-7d31-4270-8004-f8cf8e25f36c" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FIntr%2520Ciberseguridad%2ejpeg%3Falt%3Dmedia%26token%3Da911db20-53c3-492a-af03-dcd57691861c">
                <img class="p-8 rounded-t-lg" src="https://www.netacad.com/sites/all/themes/custom/prelogin/assets/img/cisco_netacad_logo.png" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FIntr%2520Ciberseguridad%2ejpeg%3Falt%3Dmedia%26token%3Da911db20-53c3-492a-af03-dcd57691861c">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Introducción a la Seguridad Cibernética </h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FIntr%2520Ciberseguridad%2ejpeg%3Falt%3Dmedia%26token%3Da911db20-53c3-492a-af03-dcd57691861c" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

       
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FBig%2520data%2ejpeg%3Falt%3Dmedia%26token%3D315b50b8-90b2-4e8c-9adc-a89a2bbbb7ea">
                <img class="p-8 rounded-t-lg" src="https://www.netacad.com/sites/all/themes/custom/prelogin/assets/img/cisco_netacad_logo.png" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FBig%2520data%2ejpeg%3Falt%3Dmedia%26token%3D315b50b8-90b2-4e8c-9adc-a89a2bbbb7ea">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">IoT Fundamentals: Big Data y Analytics</h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FBig%2520data%2ejpeg%3Falt%3Dmedia%26token%3D315b50b8-90b2-4e8c-9adc-a89a2bbbb7ea" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FAtica%2520Expo%2520Cert%2ePNG%3Falt%3Dmedia%26token%3Dcad5afab-4f5d-4ada-8439-7899d1c230e8">
                <img class="p-8 rounded-t-lg" src="https://www.uah.es/export/sites/uah/.galleries/imagenes-estructura/logo1.png_105938625.png" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FAtica%2520Expo%2520Cert%2ePNG%3Falt%3Dmedia%26token%3Dcad5afab-4f5d-4ada-8439-7899d1c230e8">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white"> Frontend accesible: Una propuesta
                        de componentes de Angular basados en la
                        W3C</h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FAtica%2520Expo%2520Cert%2ePNG%3Falt%3Dmedia%26token%3Dcad5afab-4f5d-4ada-8439-7899d1c230e8" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FAtica%2520Expo%2520Cert%2ePNG%3Falt%3Dmedia%26token%3Dcad5afab-4f5d-4ada-8439-7899d1c230e8">
                <img class="p-8 rounded-t-lg" src="https://www.uah.es/export/sites/uah/.galleries/imagenes-estructura/logo1.png_105938625.png" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FAtica%2520Expo%2520Cert%2ePNG%3Falt%3Dmedia%26token%3Dcad5afab-4f5d-4ada-8439-7899d1c230e8">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Propuesta de herramienta para la adaptabilidad de objetos de aprendizaje</h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FAtica%2520Expo%2520Cert%2ePNG%3Falt%3Dmedia%26token%3Dcad5afab-4f5d-4ada-8439-7899d1c230e8" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FFrontEdutech%2ejpeg%3Falt%3Dmedia%26token%3Db0a10d24-3377-4913-b494-bf5b3b16bba2">
                <img class="p-8 rounded-t-lg" src="https://www.uah.es/export/sites/uah/.galleries/imagenes-estructura/logo1.png_105938625.png" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FFrontEdutech%2ejpeg%3Falt%3Dmedia%26token%3Db0a10d24-3377-4913-b494-bf5b3b16bba2">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Asistencia tecnológica a la accesibilidad en la Educación Superior</h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FFrontEdutech%2ejpeg%3Falt%3Dmedia%26token%3Db0a10d24-3377-4913-b494-bf5b3b16bba2" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>

        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FFrontEdutech%2ejpeg%3Falt%3Dmedia%26token%3Db0a10d24-3377-4913-b494-bf5b3b16bba2">
                <img class="p-8 rounded-t-lg" src="https://www.ups.edu.ec/documents/20121/50266/logoupscolor.svg" alt="product image" />
               
            </a>
            <div class="px-5 pb-5">
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FFrontEdutech%2ejpeg%3Falt%3Dmedia%26token%3Db0a10d24-3377-4913-b494-bf5b3b16bba2">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Desarrollador de Software</h5>
                </a>
            </div>
            <div class="flex items-center justify-between m-1">
                <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                <a href="https://www.linkedin.com/redir/general-malware-page?url=https%3A%2F%2Ffirebasestorage%2egoogleapis%2ecom%2Fv0%2Fb%2Fcoorpmarquez%2eappspot%2ecom%2Fo%2FCertificados%252FFrontEdutech%2ejpeg%3Falt%3Dmedia%26token%3Db0a10d24-3377-4913-b494-bf5b3b16bba2" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 ">Ver certificado</a>
            </div>
        </div>


    </div>

</div>