<div class="tegnologies-plus h-[100%]  bg-blue-400" >
    <div class="triangulo-top"></div>
    <h2 class="font-bold lg:text-3xl text-2xl text-center lg:mb-10 mt-5 mb-5">Tegnologias y lenguajes de
        programación mas usados</h2>
    <div class="text-desp pl-20 pr-20 mb-10 w-full  text-left">
        <p class="lg:ml-20 lg:mr-20 md:m-1 sm:m-0 lg:text-lg md:text-lg sm:text-sm text-xs">
            Soy un desarrollador de software altamente motivado y comprometido con 4 años de experiencia en
            desarrollo web
            y 2 años de experiencia en el desarrollo de juegos con Unity. Tengo una sólida formación académica
            en
            Ingeniería Informática, lo que me ha permitido desarrollar habilidades técnicas y un profundo
            conocimiento
            en
            desarrollo de software.
        </p>

        <p class="lg:ml-20 lg:mr-20 md:m-1 sm:m-0 lg:text-lg md:text-lg sm:text-sm text-xs">Dentro de mi experiencia he tratado
            de usar varias tecnologías, en cada uno de los proyectos para generar
            un
            amplio conocimiento y capacidades como desarrollador. He presentado una lista de las tecnologías
            con las que he podido trabajar.</p>
    </div>
    <app-tegnologies></app-tegnologies>
    <div class="container-triangle flex content-end justify-end">
        <div class="triangulo"></div>
    </div> 
</div>