


.triangulo-top {
    width: 0;
    height: 0;
    border-right: 120px solid transparent; /* Lado izquierdo del triángulo */
    border-left: 0px solid transparent; /* Lado derecho del triángulo */
    border-top: 50px solid #fff; /* Base del triángulo y su color de fondo */
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 120px solid transparent; /* Lado izquierdo del triángulo */
    border-right: 0px solid transparent; /* Lado derecho del triángulo */
    border-bottom: 50px solid #fff; /* Base del triángulo y su color de fondo */
}


  
