/* You can add global styles to this file, and also import other style files */
@import '../node_modules/tailwindcss/base.css';
@import '../node_modules/tailwindcss/components.css';
@import '../node_modules/tailwindcss/utilities.css';

 canvas{
    width: 100% !important;
 }
*{
   font-family:'Times New Roman', Times, serif;
}

.flc-prefsEditor-separatedPanel{
   position: sticky;
    top: 0;
    z-index: 100;
}